<h2>List of Activities</h2>
<%= bootstrap_form_for(@activity, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8") do |form|%>

    <%# <%= form.hidden_field :pet_ids %> 
    
    <%= form.text_field :action %>
    <%= form.text_field :high_energy %>


   <div>
    <%= form.submit %>
   </div>
<%end%>
