<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<%= form_with model: pet do |p| %>
  <div>
    <%= p.label :name %><br>
    <%= p.text_field :name %>
    <% pet.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

   <div>
    <%= p.label :animal %><br>
    <%= p.text_area :animal %>
    <% pet.errors.full_messages_for(:animal).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= p.label :age %><br>
    <%= p.text_area :age %>
    <% pet.errors.full_messages_for(:age).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

   <div>
    <%= p.label :color %><br>
    <%= p.text_area :color %>
    <% pet.errors.full_messages_for(:color).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

   <div>
    <%= p.label :breed %><br>
    <%= p.text_area :breed %>
    <% pet.errors.full_messages_for(:breed).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= p.submit %>
  </div>
<% end %>
